body {
   margin: 0;
   padding: 0;
   background-color: #0f52ba;
   /* sapphire blue */
}

header {
   position: relative;
}

#banner {
   width: 100vw;
}

#banner-img {
   width: 100vw;
   height: 50vh;
}

#banner-text {
   position: absolute;
   text-align: center;
   width: 100vw;
   height: 50vh;
   top: 50%;
   left: 50%;
   margin-left: -50vw;
   margin-top: -10vh;
   color: blue;
   font-size: 15vh;
   text-shadow: 5px 2px 0px white;
}

#game-screen {
   width: 80%;
   margin: auto;
   background: black;
   border: 4px solid red;
   border-radius: 5px;
}

#paytable {
   width: 100%;
   display: inline-grid;
   grid-template-columns: 16%, 16%, 16%, 16%, 16%, 16%;
   /* 100% divide by 6 columns */
}

.paytable-info-item {
   grid-row: 1 / 1;
   font-size: 1.5rem;
   color: yellow;
}

.paytable-column {
   grid-row: 2 / 2;
   border: .5px solid #CCCC00;
   /* dark yellow1 */
   border-radius: 2px;
   background-color: blue;
}

.paytable-hand {
   background-color: #192841;
   /* midnight blue */
}

.paytable-payout {
   text-align: center;
}

.paytable-item {
   color: white;
}

.jacks-or-better {
   color: red;
}

#purse-info, #bet-info {
   color: yellow;
   text-align: right;
   margin: 3%;
}

.card-held {
   color: white;
   display: none;
   text-align: center;
   padding: 2vw;
}

.card-container {
   display: flex;
   justify-content: center;
}

.cards {
   grid-row: 1 / 1;
   justify-content: center;
}

.card {
   justify-content: center;
}

#play-buttons {
   width: 100%;
   display: grid;
   justify-content: center;
}

button {
   width: 100px;
}

.play-grid-item {
   justify-content: center;
   margin: 10%;
   grid-row: 1 / 1;
}

.play-grid-item1 {
   display: grid;
   text-align: center;
}

#bet-text {
   text-align: center;
   color: white;
}

